* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
}


.flex {
    display: flex;
    justify-content: space-between;
}




a:hover {
    color: #DC780B;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0px;
}

.ul {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #000000;

}

.button1 {
    width: 155px;
    height: 46px;
    background: #DC780B;
    border-radius: 8px;
    border: 1px solid #DC780B;
    color: #fff;


}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.hero-right h1 {
    font-size: 48px;
}

.hero-left {
    width: 50%;
}

.hero-left img {
    width: 100%;
    object-fit: inherit;
}

.button2 {
    width: 158px;
    height: 60px;
    background: #DC780B;
    border-radius: 8px;
    border: 1px solid #DC780B;
    color: #fff;
    gap: 30px;
}

.button3 {
    width: 158px;
    height: 60px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #DC780B;
    color: #DC780B;
}

h2 {
    color: #d28c47;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

h1 {
    font-size: 28px;
    color: #333;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
}

.features-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
    justify-content: start;
}

.feature {
    text-align: center;
    max-width: 250px;
    flex-direction: column;
}

.feature img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
}

.feature h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #222;
}

.feature p {
    font-size: 14px;
    color: #666;
}

.image-section {
    width: 555px;
    height: 500px;


}

.image-section img {
    width: 100%;
    border-radius: 10px;
}

.text-section {
    margin: 50px;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    width: 50%;
}

h2 {
    color: #d28c47;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

h1 {
    font-size: 28px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d28c47;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.flex {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    align-items: center;

}




#hash2 {
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
}

#hash1 {
    font-size: 32px;
    margin-top: 20px;
    align-items: center;
}

#paragrf {
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;



}

.menu-title {
    text-align: center;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-title p {
    width: 60%;
}

.menu-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}

.menu-card {
    width: 360px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000001A;
    border-radius: 5px;
}

.menu-card-img {
    width: 100%;
}

.menu-card-title {
    padding: 25px;
}

.button5 {
    color: #DC780B;
    border: 1px solid #0000001A;
    display: flex;
    align-items: center;
    background: #fff;
    width: 142px;
    height: 42px;
    justify-content: center;
    border-radius: 5px;
}


.take-rassomlar {
    display: flex;
    align-items: flex-end;
    width: 323.14px;
    height: 651px;
}

.take-writing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    font-size: 25px;
    font-weight: 500;
    width: 50%;
    gap: 10px;

}

.take-writing h3 {
    color: #DC780B;

}

.take-writing h1 {


    font-size: 32px;
    margin-top: 20px;
    align-items: center;


}


.take-btns {
    color: #ffffff;
    background: #000000;
    width: 142px;
    height: 42px;
    border-radius: 5px;

}

.take-btns1 {
    color: #000000;
    background: #ffffff;
    width: 142px;
    height: 42px;
    border-radius: 5px;
}

.take {

    background-color:  #FBF1E7; 
}
.take-btn{
    display: flex;
    gap: 15px;
}

.take-wrapper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.tast-yozuv{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.tast-yozuv  h3{
    color: #DC780B;

}

.tast-yozuv p{
    font-size: 16px;
     margin-top: 20px;
}
.testimonial{
margin-top: 200px;
}




.con-wiriting h3{
    color: #DC780B;
 
}

.con-wiriting h1{
    font-size: 32px;
   
}

.contact{
    display: flex;
    flex-direction: row;

}

.footer {
    background-color: #000000;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff ;
    padding: 50px 0px;
    gap: 15px;

}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 100px;  
    margin: 10p0x;   
}

.img11{
    display: flex;
    justify-content: space-between;
}

